<div class="homepage-background">

  <md-content class="signin">
    <form id="signin" ng-submit="users.authorize()">
      <md-input-container>
        <label>Email</label>
        <input type="text" name="email" ng-model="users.user.email">
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input type="password" name="password" ng-model="users.user.password">
      </md-input-container>
      <input type="submit" value="Sign In">
    </form>
    <p class="homepage-text">Not a user? Click <a href="#signup">here</a> to sign up.</p>
  </md-content>

</div>