header {
  width: 100%;
  background: white;
  border-bottom: 1px solid #EDEEEE;
}

header nav {
  max-width: 960px;
  margin: 0 auto;
  height: 60px;
  line-height: 60px;
}

header nav ul {
  height: 60px;
  line-height: 60px;
  font-size: 13px;
}

header nav ul li:first-child {
  float: left;
  padding: 0;
  font-size: 25px;
  font-weight: bold;
}

header nav ul li {
  display: inline;
  height: 60px;
  line-height: 60px;
  float: right;
  padding: 0 10px;
}

header nav ul li a {
  text-decoration: none;
  color: black;
}




















// input {
//   background: transparent;
//   border: none;
//   border-bottom: 2px solid black;
//   font-size: 18px;
// }

// webkit-input-placeholder {
//   color: black;
// }

.signin {
  background: transparent;
}

#map-canvas {
  height: 500px;
  width: 500px;
}

#nav-logo {
  height: 150px;
  margin: 0 auto;
}

#nav-title {
  letter-spacing: 2px;
}

h2 {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 900;
  margin: 0;
  line-height: 20px;
}

h4 {
  font-family: 'Old Standard TT', serif;
  font-style: italic;
  margin: 0;
}

.infoWindow {
  text-align: center;
  margin-left: 23px;
}

img[src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png"] {
    display: none;
}