header {
  background: white;
  text-align: center;
  padding: 15px;
}

#nav-logo {
  height: 35px;
  margin: 0 auto;
}

.footer {
  padding: 15px 0;
  background-color: #FF5964;
  width: 100%;
  position: fixed;
  bottom: 0px;
  text-align: center;
}