html {
  position: relative;
}

main {
  margin-bottom: 60px;
}

.homepage-background {
  height: 100vh;
  width: 100vw;
  // background-position: center;
  // background-size: cover;
  // background-image: url("../images/placeholder.jpeg");
  background-color: #FF5964;
}

button {
  background: white;
  border: 2px solid black;
}

input[type=submit]{
  background: white;
  border: 1px solid black;
}

.signin {
  background: lightgrey;
  padding: 20px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);  
  transform: translate(-50%, -50%);
}

md-input-container.md-default-theme label, 
 md-input-container.md-default-theme .md-placeholder{
    color:white !important;
}