header {
  background: white;
  text-align: center;
  padding: 15px; }

#nav-logo {
  height: 35px;
  margin: 0 auto; }

.footer {
  padding: 15px 0;
  background-color: #FF5964;
  width: 100%;
  position: fixed;
  bottom: 0px;
  text-align: center; }

body {
  font-family: 'Poppins', sans-serif; }

h2 {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 900;
  margin: 0;
  line-height: 1.4; }

h6 {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  margin: 0;
  line-height: 1.4; }

h3 {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 900;
  margin: 0;
  line-height: 20px;
  text-align: center;
  color: #FF5964; }

h4 {
  font-family: 'Old Standard TT', serif;
  font-style: italic;
  margin: 0;
  line-height: 1.4; }

h5 a {
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 900;
  color: white;
  text-decoration: none; }

h5 {
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 900;
  color: white;
  text-decoration: none; }

a {
  color: black; }

p {
  font-family: 'Old Standard TT', serif;
  line-height: 1.5; }

html {
  position: relative; }

main {
  margin-bottom: 46px; }

.homepage-background {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-image: url("../images/placeholder.jpeg"); }

button {
  background: white;
  border: 2px solid black; }

input[type=submit] {
  background: #333;
  border: 1px solid #333;
  color: white;
  width: 100%;
  padding: 5px;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 900;
  margin: 15px 0; }

input[type=submit]:hover {
  background: #FF5964;
  border: 1px solid #FF5964; }

.signin {
  background: white;
  padding: 15px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

p.homepage-text {
  text-align: center;
  font-family: 'Old Standard TT', serif;
  font-style: italic; }
  p.homepage-text a {
    color: black;
    font-weight: bold;
    text-decoration: none; }

#map-canvas {
  height: 400px;
  width: 100vw; }

.infoWindow {
  text-align: center;
  margin-left: 23px; }

img[src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png"] {
  display: none; }

.event-index-each {
  background-color: #f6f6f6;
  margin: 10px 0;
  width: 100%;
  padding: 10px;
  height: 85px; }

.event-show {
  background-color: #f6f6f6;
  width: 100%;
  padding: 10px; }

.event-show-info {
  padding: 20px;
  padding-bottom: 2px;
  background-color: white;
  margin-right: 10px;
  display: inline-block;
  width: calc(100% - 155px);
  overflow: hidden; }

.event-index-info {
  padding: 20px;
  background-color: white;
  height: 45px;
  margin-right: 10px;
  display: inline-block;
  width: calc(100% - 155px);
  overflow: hidden; }

.event-index-date {
  text-align: center;
  width: 65px;
  height: 60px;
  margin-right: 10px;
  background-color: white;
  padding: 10px;
  padding-top: 15px;
  float: left; }

.event-index-date-day {
  font-size: 36px;
  font-weight: 900; }

.event-index-date-month {
  font-weight: 900;
  font-size: 14px;
  font-family: 'Old Standard TT', serif;
  font-style: italic; }

.mini-delete {
  background-color: #FF5964;
  border: 1px solid #FF5964;
  font-size: 8px;
  color: white;
  font-weight: 900;
  margin-left: 5px;
  position: relative;
  top: -2px;
  width: 19.1px;
  height: 19.1px; }

.form-button {
  background: #333;
  border: 1px solid #333;
  color: white;
  padding: 5px 10px;
  width: calc(50% - 2.5px);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 900;
  margin: 3px 0; }

.form-button:hover {
  background: #FF5964;
  border: 1px solid #FF5964; }

.event-create-background {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-image: url("../images/placeholder2.jpg"); }

.buttons {
  background-color: #f6f6f6; }

#show-page-form-button {
  margin: 0px; }

/*# sourceMappingURL=style.css.map */
