<div class="event-create-background" ng-controller="AllEventsController as allEvents">

  <md-content class="signin">
    <form id="newEvent" ng-submit="allEvents.createEvent()">
    <md-input-container>
      <label>Title</label>
      <input type="text" name="name" ng-model="allEvents.newEvent.title">
    </md-input-container>
    <md-input-container>
      <label>Description</label>
      <input type="text" name="description" ng-model="allEvents.newEvent.description">
    </md-input-container>
      <md-input-container>
        <label>Date</label>
        <input type="date" name="email" ng-model="allEvents.newEvent.date">
      </md-input-container>
      <input type="submit" value="Create Event">
    </form>
  </md-content>

</div>