<div class="container-fluid" ng-controller="EventsController as events">
  <div class="event-show">
    <div class="event-index-date">
      <span class="event-index-date-day">{{events.event.date | date:'d'}}</span><br>
      <span class="event-index-date-month">{{events.event.date | date:'MMMM'}}</span>
    </div>
    <div class="event-show-info">
      <h2>{{events.event.title}}</h2>
      <h4>{{events.event.description}}</h4><br>
      <div ng-show="events.event.locations != 0">
        <h2>Locations:</h2>
        <ul>
          <li ng-repeat="location in events.event.locations">
            <p>{{location.time}} &bull; {{location.name}} &bull; {{location.address}}<button class="mini-delete" ng-click="events.deleteLocation(location)">X</button></p>
          </li>
        </ul>
      </div>
      <div ng-show="events.event.invitees != 0">
        <h2>Invitees:</h2>
        <ul>
          <li ng-repeat="invitee in events.event.invitees">
            <p>{{invitee.name}}<button class="mini-delete" ng-click="events.deleteInvitee(invitee)">X</button></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="buttons">
    <button class="form-button" ng-click="events.showLocationForm()">Add Location</button>
    <button class="form-button" ng-click="events.showInviteeForm()">Add Invitee</button>
    <button class="form-button" ng-click="events.sendInvite()">Send Invite</button>
    <button class="form-button" ng-click="events.deleteEvent(events.event)">Delete Event</button>
  </div>

  <md-content class="show-page-form">
    <form ng-submit="events.addLocation()" ng-show="events.locationForm">
      <md-input-container>
        <input type="text" name="location" class="textbox" id="location" value="" />
      </md-input-container>
      <md-input-container>
        <label>Time</label>
        <input type="text" name="time" ng-model="events.location.location.time">
      </md-input-container>
      <input id="show-page-form-button" ng-click="events.showLocationForm()" type="submit" value="Submit">
    </form>
  </md-content>

  <form ng-submit="events.addInvitee()" ng-show="events.inviteeForm">
    <label for="name">Name:</label>
    <input type="text" name="name" ng-model="events.invitee.invitee.name">
    <label for="email">Email:</label>
    <input type="text" name="email" ng-model="events.invitee.invitee.email">
    <button class="show-page-form-button" ng-click="events.showInviteeForm()" type="submit">Add Invitee</button>
  </form>

  <div id="map-canvas"></div>
</div>