<div class="homepage-background">

  <md-content class="signin">
    <form id="signup" ng-submit="users.join()">
    <md-input-container>
      <label>Name</label>
      <input type="text" name="name" ng-model="users.user.name">
    </md-input-container>
      <md-input-container>
        <label>Email</label>
        <input type="text" name="email" ng-model="users.user.email">
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input type="password" name="password" ng-model="users.user.password">
      </md-input-container>
      <input type="submit" value="Sign Up">
    </form>
    <p class="homepage-text">Already user? Click <a href="#home">here</a> to sign in.</p>
  </md-content>

</div>