<div class="container-fluid">
  <section ng-hide="users.isLoggedIn()">
    <h3>Sign Up</h3>
    <form id="signup" ng-hide="users.isLoggedIn()" ng-submit="users.join()">
      <label for="email">Email</label>
      <input type="text" name="email" placeholder="Email" ng-model="users.user.email">
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="Password" ng-model="users.user.password">
      <input type="submit" value="Sign Up">
    </form>
  </section>
</div>