<!DOCTYPE html>
<html>
<head>
  <title>PLANIT</title>
  <link href='https://fonts.googleapis.com/css?family=Poppins:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <main>
  <nav><img src="http://i.imgur.com/LEKfWrE.png"></nav>
    <h3>EMILY, YOU'RE INVITED!</h3>
    
    <div class="event-index-each">
      <div>
        <div class="event-index-date">
          <span class="event-index-date-day">10</span><br>
          <span class="event-index-date-month">October</span>
        </div>
        <div class="event-index-info">
          <h2><%= locals.title %></h2>
          <h4><%= locals.description %></h4>
        </div>
      </div>
    </div>

    <% for (var i = 0; i < locals.locations.length; i++) { %>
    <h4><%= locals.locations[i].name %></h4>
    <% }; %>

  </main>
</body>
</html>